* {
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--gblue);
  display: flex;
  font-family: "Manrope", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

:root {
  --dark-gblue: hsl(217, 19%, 35%);
  --ddblue: hsl(214, 17%, 51%);
  --gblue: hsl(211, 28%, 80%);
  --Light-gblue: #fcfcfc;
}

#container {
  width: 55vw;
  height: 50vh;
  background-color: var(--Light-gblue);
  display: flex;
  margin-top: 10%;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px 10px hsla(0, 0%, 0%, 0.1);
}

#container #drawers {
  width: 60vw;
  height: 100%;
  background-image: url("images/drawers.jpg");
  background-size: cover;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#article {
  padding: 4%;
}

#article #heading {
  word-spacing: 5px;
  line-height: 23px;
  color: var(--dark-gblue);
}

#article #para {
  color: var(--ddblue);
  text-align: start;
  line-height: 20px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%;
}

#namebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#namedate {
  display: flex;
  flex-direction: column;
}

#footer #namebox .name {
  color: var(--dark-gblue);
  font-size: 14px;
  font-weight: 400;
}

#footer #namebox .date {
  color: var(--ddblue);
  font-size: 14px;
}

#mylink {
  padding-top: 10vh;
  font-size: 17px;
}

#footer #avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

#footer #share {
  width: 30px;
  height: 30px;
  background-color: var(--gblue);
  border-radius: 50%;
  margin-left: 5%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.popup {
  height: 100px;
  width: 200px;
  clip-path: polygon(
    0 24%,
    100% 23%,
    100% 73%,
    61% 76%,
    50% 100%,
    38% 75%,
    0 73%
  );
  background-color: var(--dark-gblue);
  display: none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 40%;
  right: -7.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.popup-active {
  display: flex;
}
.popup span {
  text-transform: uppercase;
  color: var(--ddblue);
}

@media only screen and (max-width: 375px) {
  #container {
    flex-direction: column;
    width: 90%;
    height: 70%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    overflow: hidden;
  }

  #heading {
    font-size: 16px;
  }

  #para {
    font-size: 12px;
  }

  #container #drawers {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
  }

  .popup {
    height: 59px;
    background: var(--dark-gblue);
    align-items: center;
    justify-content: space-around;
    clip-path: revert;
    position: absolute;
    bottom: 0;
    top: unset;
    right: unset;
    width: 100%;
    padding-right: 5rem;
  }

  #share {
    position: relative;
    z-index: 10;
    top: 6px;
    right: 5px;
  }
}
